.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.flex-full {
  @include flex(1);
}

.resize-thumb {
  display: block;
  width: 100%;
  height: 5px;
  background: transparent;
  cursor: row-resize;
  position: absolute;
  bottom: 0;
  left: 0;
  &:after {
    content: '...';
    font-size: 25px;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 3px;
    word-spacing: 11px;
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
    line-height: 0;
  }
  &:hover:after {
    color: #000;
  }
}

.p-relative {
  position: relative;
}
