/**
* Custom Kendo Grid.
*/

.custom-gird {
  .k-grid-header {
    background: #fff;
  }
}

/**
* Custom Nav in Epicor
*/

.navbar.ep-navbar {
  @include d-flex();
  -ms-flex-direction: row;
  flex-direction: row;
}

/**
* Custom full calendar.
*/

.fc-time-grid-container {
  height: auto !important;
}

.fc.fc-unthemed.fc-ltr {
  flex-direction: column;
  @include full();
  .fc-view-container {
    @include full();
    .fc-view.fc-agendaDay-view.fc-agenda-view {
      @include full();
      &>table {
        @include full();
        flex-direction: column;
        .fc-body {
          @include full();
          &>tr {
            @include full();
            &>.fc-widget-content {
              @include full();
              flex-direction: column;
            }
          }
        }
      }
    }
  }
}

.icon-document {
  display: block;
  width: 22px;
  height: 22px;
  float: left;
  border: 1px solid #12C3F4;
  display: flex;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  color: #12C3F4;
}
