left-menu {
  display: block;
  .list-items {
    padding: 0;
    margin: 0;
    .item {
      transition: 0.25s;
			list-style-type: none;
			cursor: pointer;
      .item-icon {
        width: 50px;
        height: 40px;
        display: block;
        i {
          font-size: 18px;
          color: #12C3F4;
        }
      }
      &:hover {
        background: rgba(0, 0, 0, 0.05);
      }
      &:active {
        background: rgba(0, 0, 0, 0.1);
      }
    }
    .item-text {
      font-size: 12px;
      font-weight: 500;
    }
  }
}
