/**
* Funcions used scss.
*/

@mixin flex($num) {
  -webkit-flex: $num;
  -webkit-box-flex: $num;
  -moz-flex: $num;
  -moz-box-flex: $num;
  -ms-flex: $num;
  flex: $num;
}

@mixin d-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin full() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  @include flex(1);
}
