.from-search {
  width: 100%;
}

.title-main {
  margin: 0;
  font-weight: bold;
}

/deep/.k-button {
  margin: 0 !important;
}

/deep/.k-grid {
  height: 100% !important;
}

.scroll {
  overflow: auto;
}

/deep/app-home {
  width: 100%;
}

.shawdown {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
  border-radius: 5px;
}

/deep/.ep-view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
}

.title-span {
  height: 30px;
  display: block;
  font-weight: 500;
  font-size: 15px;
  line-height: 35px;
}

/**
* Custom Grid
*/
/deep/ ep-grid {
  width: 100%;
  .ep-grid {
    width: 100%;
    .k-grid {
      width: 100%;
      tr.ui-draggable-dragging {
        background: #F0EDE0 !important;
      }
    }
  }
}

.total-grid {
  font-size: 14px;
}
