<div class="row">
  <div class="col">
    <!--Complex data without templates-->
    <form>
    <div class="form-group">
      <label>Vehicle:</label>
      <ep-combo-box [data]="devEXF" [clearButton]="clearButton" [(ngModel)]="selectedValues.complex" textField="empName" valueField="empId">
      </ep-combo-box>
    </div>
    <div class="form-group">
      <label>Truck:</label>
      <ep-combo-box [data]="devEXF" [clearButton]="clearButton" [(ngModel)]="selectedValues.complex" textField="empName" valueField="empId">
      </ep-combo-box>
    </div>
    <div class="form-group">
      <label>Driver:</label>
      <ep-combo-box [data]="devEXF" [clearButton]="clearButton" [(ngModel)]="selectedValues.complex" textField="empName" valueField="empId">
      </ep-combo-box>
    </div>
    </form>
  </div>
</div>
