/deep/ drag-thumb {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background: #0191EA;
  user-select: none;
  pointer-events: none;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 12px 12px 10px;
  color: #fff;
  i {
    color: #fff;
    font-size: 30px;
  }
}
