$border-color: #f1f4f5;
#calendar {
  background: #fff;
  width: 100%;
  /deep/.fc-toolbar.fc-header-toolbar {
    margin: 5px 0;
  }
  /deep/ .fc-button {
    font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: -.5px;
    background: #6d7b83;
    color: #fff;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
    border: 0;
    padding: 0 30px;
    outline: 0;
    &:hover {
      -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
      box-shadow: 0 1px 5px rgba(0, 0, 0, .4);
    }
    &:active {
      -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, .5);
      box-shadow: inset 0 0 8px rgba(0, 0, 0, .5);
    }
    &.fc-corner-left {
      margin-right: 5px;
    }
    &.fc-state-disabled {
      color: #fff;
      background: #e5e5e5;
      opacity: 1;
      cursor: default;
      font-weight: 500;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}
/deep/ .fc-resource-cell::first-line  {
  font-weight: bold ;
}

/deep/ .fc-content {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

/deep/ .fc-time {
  padding: 5px !important;
  width: max-content !important;
  font-size: 12px !important;
  font-weight: 500 !important;
}

/deep/.fc-title {
  font-size: 12px !important;
  padding: 5px !important;
  width: max-content !important;
  font-weight: 500 !important;
}

/deep/ .fc-view-container {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
  border-radius: 5px;
  overflow: hidden;
}

/deep/ .fc .fc-toolbar>*>:first-child {
  font-size: 12px;
}

/deep/th.fc-resource-cell {
  color: #008aa9;
  padding: 16px 12px 2px;
  font-weight: 500;
  border-color: #dce2e4;
}

/deep/ .fc-unthemed td {
  border-color: $border-color !important;
}

/deep/.fc-unthemed td.fc-today {
  background: #fff !important;
}

/deep/ .fc-scroller.fc-time-grid-container {
  overflow: auto !important;
}

// width content in time
/deep/.fc-view.fc-agendaDay-view.fc-agenda-view {
  width: 100%;
  &>table {
    width: 100%;
    &>.fc-head {
      position: relative;
      overflow: hidden;
      margin-left: 46px;
      width: calc(100% - 46px);
      border-left: 1px solid $border-color;
      &>tr {
        overflow: scroll;
      }
      .fc-head-container.fc-widget-header {
        border-left: 0;
        border-top: 0;
      }
      .fc-row.fc-widget-header {
        border-color: $border-color;
        width: 2000px;
        &>td {}
        .fc-resource-cell {
          border-color: $border-color;
        }
      }
    }
    thead {
      border-color: $border-color;
    }
  }
}

/deep/.fc-time-grid.fc-unselectable {
  width: 2000px;
}

/deep/.fc .fc-axis {
  display: none;
}

/deep/.fc-agenda-view .fc-day-grid {
  display: none;
}

/deep/ .fc-divider.fc-widget-header {
  display: none;
}

/deep/.fc-body {
  width: 100%;
  .ca-list-item {
    overflow: hidden;
    min-width: 46px;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    margin-top: -1px;
    margin-bottom: 17px;
    .ca-item-time {
      width: 100%;
      height: 20px;
      text-align: right;
      padding: 0 4px;
      border-top: 1px solid $border-color;
      box-sizing: border-box;
      color: #008aa9;
      &:first-child {
        border-top: 0;
      }
    }
  }
  .fc-time-grid .fc-slats td {
    height: 20px;
    box-sizing: border-box;
  }
  &>tr {
    width: calc(100% - 46px);
    .fc-widget-content {
      width: calc(100% - 2px);
      .fc-scroller.fc-time-grid-container {
        width: 100%;
      }
    }
    &>.fc-widget-content {
      border-top: 0;
    }
  }
}

/deep/.fc-view.fc-agendaDay-view.fc-agenda-view {
  width: 100%;
}

/deep/.fc-event {
  background-color: #A3D183;
}
