.cs-menu {
  padding: 5px 0;
  margin: 0;
  background: #fff;
  min-width: 150px;
  border-radius: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  li {
    list-style-type: none;
    padding: 5px 10px;
    cursor: pointer;
    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
    &:active {
      background: rgba(0, 0, 0, 0.1);
    }
  }
}
