<ng-content></ng-content>
<kendo-popup *ngIf="show" [offset]="offset">
  <ul class="cs-menu">
    <li *ngFor="let item of menu" (click)="onClickHandler(item)">
      <ng-template *ngIf="menuItemTemplate" [ngTemplateOutlet]="menuItemTemplate" [ngTemplateOutletContext]="{ item: item, dataItem: dataItem }">
      </ng-template>
      <ng-container *ngIf="!menuItemTemplate">
        {{ item }}
      </ng-container>
    </li>
  </ul>
</kendo-popup>