<ul class="list-items">
  <li class="item">
    <a class="item-nav d-flex align-items-center">
      <span class="item-icon d-flex justify-content-center align-items-center">
        <i class="mdi mdi-home"></i>
      </span>
      <span class="item-text d-flex">
        My Messages
      </span>
    </a>
  </li>

  <li class="item">
    <a class="item-nav d-flex align-items-center">
      <span class="item-icon d-flex justify-content-center align-items-center">
        <i class="mdi mdi-email"></i>
      </span>
      <span class="item-text d-flex">
        Epicor Software
      </span>
    </a>
  </li>

  <li class="item">
    <a class="item-nav d-flex align-items-center">
      <span class="item-icon d-flex justify-content-center align-items-center">
        <i class="mdi mdi-folder"></i>
      </span>
      <span class="item-text d-flex">
        Find Work
      </span>
    </a>
  </li>

  <li class="item">
    <a class="item-nav d-flex align-items-center">
      <span class="item-icon d-flex justify-content-center align-items-center">
        <i class="mdi mdi-truck"></i>
      </span>
      <span class="item-text d-flex">
        Find Documents
      </span>
    </a>
  </li>

  <li class="item">
    <a class="item-nav d-flex align-items-center">
      <span class="item-icon d-flex justify-content-center align-items-center">
        <i class="mdi mdi-truck"></i>
      </span>
      <span class="item-text d-flex">
        Product
      </span>
    </a>
  </li>

  <li class="item">
    <a class="item-nav d-flex align-items-center">
      <span class="item-icon d-flex justify-content-center align-items-center">
        <i class="mdi mdi-truck"></i>
      </span>
      <span class="item-text d-flex">
        Price list-items
      </span>
    </a>
  </li>

  <li class="item">
    <a class="item-nav d-flex align-items-center">
      <span class="item-icon d-flex justify-content-center align-items-center">
        <i class="mdi mdi-folder"></i>
      </span>
      <span class="item-text d-flex">
        User
      </span>
    </a>
  </li>

  <li class="item">
    <a class="item-nav d-flex align-items-center">
      <span class="item-icon d-flex justify-content-center align-items-center">
        <i class="mdi mdi-truck"></i>
      </span>
      <span class="item-text d-flex">
        Customers
      </span>
    </a>
  </li>
</ul>
