<div class="layout-card d-flex flex-full flex-column">
  <div *ngIf="title" class="layout-card-header d-flex flex-row">
    <h3 class="title mr-auto">
      {{title}}
    </h3>
    <a *ngIf="btn" (click)="isShow= !isShow" data-toggle="collapse" data-target="#demo"><i [ngClass]="{'fa-angle-down' :isShow,'fa-angle-up' :!isShow }" class="fa fa-4"></i></a>
  </div>
  <div class="layout-card-body d-flex flex-column flex-full">
    <ng-content></ng-content>
  </div>
  <!-- Feature will update -->
  <!-- <div class="layout-card-footer">

  </div> -->
</div>
