/**
* Style Layout Card.
*/

/deep/layout-card {}

.layout-card {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  background: #fff;
  border-radius: 5px;
  .layout-card-header {
    padding: 15px;
    .title {
      font-size: 15px;
      color: #112f41;
    }
    border-bottom:1px solid #f3f4f4;
  }
  .layout-card-body {
    padding: 0 15px 10px;
  }
  .layout-card-footer {}
  .fa-4{
    font-size: 3em;
  }
}
